<!DOCTYPE html>
<html ng-app="store">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>-->
    <!--<script type="text/javascript" src="../js/angular.min1.js"></script>-->

</head>
<body>
    <div ng-controller="storeController">
        {{product.name}}
        <!--<script type="text/javascript" src="../js/angular.min1.js"></script>-->
        <script type="text/javascript" src="../js/app4.js"></script>
    </div>
</body>
</html>