<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>angular 服务 service</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script>
//        var app=angular.module('myApp',[])
//        app.controller('myCtrl',function($scope, $location){
//            $scope.myUrl= $location.absUrl()
//        })
//
//        var app1=angular.module('myApp1',[])
//        app1.controller('myCtrl1',function($scope,$http){
//            $http.get("welcome.htm").then(function(respones){
//                $scope.myWelcome=respones.data
//            })
//        })

//        var app2=angular.module('myApp2',[])
//        app2.controller('myCtrl2',function($scope,$timeout){
//            $scope.myHeader="hello word"
//            $timeout(function(){
//                $scope.myHeader="dsdsdsd"
//            },2000)
//        })

//        var app=angular.module('myApp',[])
//           app.service('hexafy',function(){
//            this.myFunc=function(x){
//                return x.toString(16)
//            }
//           })
//           app.controller('myCtrl',function($scope, hexafy){
//               $scope.hex = hexafy.myFunc(255);
//           })

//      var app=angular.module('myApp',[])
//        app.controller('myCtrl',function($scope,$interval){
//            $scope.theTime = new Date().toLocaleTimeString();
//            $interval(function(){
//                $scope.theTime = new Date().toLocaleTimeString();
//            },1000)
//        })

        var app=angular.module('myApp',[])
        app.service('hexafy', function() {
            this.myFunc = function (x) {
                return x.toString(16);
            }
        });
        app.filter('myFormat',['hexafy', function(hexafy) {
            return function(x) {
                return hexafy.myFunc(x);
            };
        }]);
    </script>
</head>
<body>
   <!--<div ng-app="myApp" ng-controller="myCtrl">-->
       <!--<p>现在的网址是：</p>-->
       <!--{{myUrl}}-->
   <!--</div>-->



   <!--<div ng-app="myApp1" ng-controller="myCtrl1">-->

   <!--<p>欢迎信息:</p>-->

   <!--<h1>{{myWelcome}}</h1>-->

   <!--</div>-->

   <!--<p> $http 服务向服务器请求信息，返回的值放入变量 "myWelcome" 中。</p>-->

  <!--<div ng-app="myApp2" ng-controller="myCtrl2">-->
      <!--<p>俩秒后改变</p>-->
      <!--{{myHeader}}-->
  <!--</div>-->

   <!--<div ng-app="myApp" ng-controller="myCtrl">-->

       <!--<p>255 的16进制是:</p>-->

       <!--<h1>{{hex}}</h1>-->

   <!--</div>-->

   <!--<div ng-app="myApp" ng-controller="myCtrl">-->

       <!--<p>现在时间是:</p>-->

       <!--<h1>{{theTime}}</h1>-->

   <!--</div>-->

   <!--<p>$interval 访问在指定的周期(以毫秒计)来调用函数或计算表达式。</p>-->
   <div ng-app="myApp">
       在过滤器中使用服务:

       <h1>{{255 | myFormat}}</h1>

   </div>

</body>
</html>