<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>测试moment</title>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/is.js"></script>
    <script>
//        console.log(moment().format('YYYY-MM-DD HH:mm:ss'))
//        console.log(moment().startOf('day').fromNow())
//        console.log(moment().format('L'))
        var email="373098777"
        console.log(is.email(email))
    </script>
</head>
<body>

</body>
</html>